*{
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Dosis', sans-serif;
    background-color: #ffffff;
    color: rgb(78, 78, 78);
}
#root {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Merienda';
    padding: 1.5rem 2.5rem;
    background-color: rgb(247, 187, 229);
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
h4, p {
    padding: 2rem 2.5rem 2.5rem;
    
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s linear;
    max-height: 1000px;
}
.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
    background-color: #f8f8f8;
}

img {
    display: block;
    margin: 2rem auto;
    height: 232px;
    width: 50%;
}
.img-card {
    border-radius: 4px;
    height: 400px;
    margin: 16px auto;
    width: 90%;
}
footer {
    background-color: rgb(247, 187, 229);
    text-align: center;
}

@media screen and (min-width: 600px) {
    .card {
    flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
    flex: 1 1 calc(33% - 2rem);
    
    }
    
}
